<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Node - {{pageTitle}}</title>
</head>
<header>
	<p><a href="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about">About</a></p>
</header>